{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    Portfolios
{% endblock %}

{% block content %}
    {% include 'blog/nav_bar.html' %}
    <section class="module bg-dark-60 portfolio-page-header"
             data-background="{% static 'assets/images/portfolio/portfolio_header_bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Portfolio Boxed</h2>
                    <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire
                        soul, like these sweet mornings of spring which I enjoy with my whole heart.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="filter font-alt" id="filters">
                        <li><a class="current wow fadeInUp" href="#" data-filter="*">All</a></li>
                        {% for category in categories %}
                            <li><a class="wow fadeInUp" href="#" data-filter=".{{ category.slug }}"
                                   data-wow-delay="0.2s">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <ul class="works-grid works-grid-gut works-hover-w" id="works-grid">
                {% for portfolio in portfolios %}
                    <li class="work-item {{ portfolio.category.all|join:" " }}"><a
                            href="{% url 'portfolio' portfolio.id %}">
                        <div class="work-image"><img
                                src="{{ portfolio.image.url }}"
                                alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">{{ portfolio.client }}</h3>
                            <div class="work-descr">{{ portfolio.category.all|join:", " }}</div>
                        </div>
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% include 'blog/footer.html' %}
{% endblock %}