{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    Portfolio
{% endblock %}

{% block content %}
    {% include 'blog/nav_bar.html' %}
    <section class="module bg-dark-60 portfolio-page-header"
             data-background="{% static 'assets/images/portfolio/portfolio_header_bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Portfolio Single</h2>
                    <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul,
                        like these sweet mornings of spring which I enjoy with my whole heart.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% if portfolio.video %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="{{ portfolio.video.url }}" frameborder="0"
                                    allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    {% endif %}
                    {% if portfolio.image %}
                        <div class="post-images-slider">
                            <ul class="slides">
                                {% if portfolio.image %}
                                    <li><img class="center-block" src="{{ portfolio.image.url }}" alt="Slider Image"/></li>
                                {% endif %}
                                {% if portfolio.image_2 %}
                                    <li><img class="center-block" src="{{ portfolio.image_2.url }}" alt="Slider Image"/>
                                    </li>
                                {% endif %}
                                {% if portfolio.image_3 %}
                                    <li><img class="center-block" src="{{ portfolio.image_3.url }}" alt="Slider Image"/>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row multi-columns-row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-tools-2"></span></div>
                        <h3 class="alt-features-title font-alt">Development</h3>{{ portfolio.development }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-tools"></span></div>
                        <h3 class="alt-features-title font-alt">Design</h3>{{ portfolio.design }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-camera"></span></div>
                        <h3 class="alt-features-title font-alt">Photography</h3>{{ portfolio.photography }}
                    </div>
                </div>
            </div>
            <hr class="divider-w mt-60 mb-60">
            <div class="row multi-columns-row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="work-details">
                        <h5 class="work-details-title font-alt">Project Details</h5>
                        <p></p>
                        <ul>
                            <li><strong>Client: </strong><span class="font-serif"><a href="#"
                                                                                     target="_blank">{{ portfolio.client }}</a></span>
                            </li>
                            <li><strong>Date: </strong><span class="font-serif"><a href="#"
                                                                                   target="_blank">{{ portfolio.date_create|date:'j F Y' }}</a></span>
                            </li>
                            <li><strong>Online: </strong><span class="font-serif"><a href="#"
                                                                                     target="_blank">{{ portfolio.link_on_project }}</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-8">
                    <p>{{ portfolio.description }}</p>
                </div>
            </div>
        </div>
    </section>
    <hr class="divider-w">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Related Projects</h2>
                </div>
            </div>
            {% if related_projects %}
                <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
                    {% for related_project in related_projects %}
                        <li class="work-item "><a href="{% url 'portfolio' related_project.id %}">
                            <div class="work-image"><img src="{{ related_project.image.url }}" alt="Portfolio Item"/>
                            </div>
                            <div class="work-caption font-alt">
                                <h3 class="work-title">{{ related_project.client }}</h3>
                                <div class="work-descr">{{ related_project.category.all|join:', ' }}</div>
                            </div>
                        </a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
    {% include 'blog/footer.html' %}
{% endblock %}

