<div class="module-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">About Titan</h5>
                    <p>The languages only differ in their grammar, their pronunciation and their most common
                        words.</p>
                    <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10
                    <p>Email:<a href="#">somecompany@example.com</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">Recent Comments</h5>
                    <ul class="icon-list">
                        {% for recent_comment in recent_comments %}
                            <li>{{ recent_comment.author }} on <a
                                    href="{% url 'blog' recent_comment.blog.slug %}">{{ recent_comment.blog.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">Blog Categories</h5>
                    <ul class="icon-list">
                        {% for category in categories %}
                            <li><a href="{% url 'category' category.id %}">{{ category.name }}
                                - {{ category.category_count }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">Popular Posts</h5>
                    <ul class="widget-posts">
                        {% for blog in popular_blog_2 %}
                            <li class="clearfix">
                                <div class="widget-posts-image"><a href="#"><img src="


                                        {% if blog.image_popular_blog %}{{ blog.image_popular_blog.url }}{% else %}#{% endif %}"
                                                                                 alt="Post Thumbnail"/></a>
                                </div>
                                <div class="widget-posts-body">
                                    <div class="widget-posts-title"><a
                                            href="{% url 'blog' blog.slug %}">{{ blog.title }}</a></div>
                                    <div class="widget-posts-meta">{{ blog.date_create|date:"D d M Y" }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="divider-d">
<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2017&nbsp;<a href="index.html">TitaN</a>, All Rights
                    Reserved</p>
            </div>
            <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i
                        class="fa fa-skype"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>