{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    {% include 'blog/nav_bar.html' %}
    <div class="main">
        <section class="module bg-dark-60 blog-page-header" data-background="{% static 'assets/images/blog_bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Blog Standard</h2>
                        <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire
                            soul, like these sweet mornings of spring which I enjoy with my whole heart.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3 sidebar">
                        <div class="widget">
                            <form role="form" method="get" action="{% url 'search' %}">
                                <div class="search-box">
                                    <input class="form-control" type="text" placeholder="Search..."  name="q"/>
                                    <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">Blog Categories</h5>
                            <ul class="icon-list">
                                {% for category in categories %}
                                    <li><a href="{% url 'category' category.id %}">{{ category.name }}
                                        - {{ category.category_count }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">Popular Posts</h5>
                            <ul class="widget-posts">
                                {% for blog in popular_blog %}
                                    <li class="clearfix">
                                        <div class="widget-posts-image"><a href="#"><img src="
                                        {% if blog.image_popular_blog %}{{ blog.image_popular_blog.url }}{% else %}#{% endif %}"
                                                                                         alt="Post Thumbnail"/></a>
                                        </div>
                                        <div class="widget-posts-body">
                                            <div class="widget-posts-title"><a
                                                    href="{% url 'blog' blog.slug %}">{{ blog.title }}</a></div>
                                            <div class="widget-posts-meta">{{ blog.date_create|date:"D d M Y" }}</div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">Tag</h5>
                            <div class="tags font-serif"><a href="#" rel="tag">Blog</a><a href="#" rel="tag">Photo</a><a
                                    href="#" rel="tag">Video</a><a href="#" rel="tag">Image</a><a href="#" rel="tag">Minimal</a><a
                                    href="#" rel="tag">Post</a><a href="#" rel="tag">Theme</a><a href="#" rel="tag">Ideas</a><a
                                    href="#" rel="tag">Tags</a><a href="#" rel="tag">Bootstrap</a><a href="#" rel="tag">Popular</a><a
                                    href="#" rel="tag">English</a>
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">Text</h5>The languages only differ in their grammar, their
                            pronunciation and their most common words. Everyone realizes why a new common language would
                            be desirable: one could refuse to pay expensive translators.
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">Recent Comments</h5>
                            <ul class="icon-list">
                                <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                                <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                                <li>Andy on <a href="#">Eco bag Mockup</a></li>
                                <li>Jack on <a href="#">Bottle Mockup</a></li>
                                <li>Mark on <a href="#">Our trip to the Alps</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                    {% if results|length > 0 %}
                        {% for blog in results %}
                            <div class="post">
                                {% if blog.video %}
                                    <div class="post-video embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="{{ blog.video.url }}"
                                                frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                    </div>
                                {% endif %}
                                {% if blog.image %}
                                    <div class="post-images-slider">
                                        <ul class="slides">
                                            <li><img src="{{ blog.image.url }}" alt="Blog Slider Image"/></li>
                                            {% if blog.image_2 %}
                                                <li><img src="{{ blog.image_2.url }}" alt="Blog Slider Image"/></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <div class="post-header font-alt">
                                    <h2 class="post-title"><a href="{% url 'blog' blog.slug %}">{{ blog.title }}</a>
                                    </h2>
                                    <div class="post-meta">By&nbsp;<a
                                            href="{% url 'author' blog.author %}">{{ blog.author }}</a>| {{ blog.date_create|date:"D d M Y" }}
                                        | {{ blog.count_comment }} Comments | {{ blog.category.all|join:"," }}
                                    </div>
                                </div>
                                <div class="post-entry">
                                    <p>{{ blog.short_text }}</p>
                                </div>
                                <div class="post-more"><a class="more-link" href="{% url 'blog' blog.slug %}">Read
                                    more</a></div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="post text-center">
                        <h2>No results found</h2>
                        </div>
                    {% endif %}
                    {% if length > 4 %}
                        <div class="pagination font-alt center-block">
                            {% if results.has_previous %}
                                <a href="{% url 'paginator' results.previous_page_number %}">
                                    <i class="fa fa-angle-left page-link"></i></a>
                            {% endif %}
                            {% for page in results.paginator.page_range %}
                                <a class="{% if page == results.number %}active{% endif %}"
                                   href="{% url 'paginator_search' page %}">{{ page }}</a>
                            {% endfor %}
                            {% if results.has_next %}
                                <a href="{% url 'paginator_search' results.next_page_number %}">
                                    <i class="fa fa-angle-right"></i></a>
                            {% endif %}
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <div class="module-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widget-title font-alt">About Titan</h5>
                            <p>The languages only differ in their grammar, their pronunciation and their most common
                                words.</p>
                            <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10
                            <p>Email:<a href="#">somecompany@example.com</a></p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widget-title font-alt">Recent Comments</h5>
                            <ul class="icon-list">
                                <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                                <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                                <li>Andy on <a href="#">Eco bag Mockup</a></li>
                                <li>Jack on <a href="#">Bottle Mockup</a></li>
                                <li>Mark on <a href="#">Our trip to the Alps</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widget-title font-alt">Blog Categories</h5>
                            <ul class="icon-list">
                                {% for category in categories %}
                                    <li><a href="{% url 'category' category.id %}">{{ category.name }}
                                        - {{ category.category_count }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widget-title font-alt">Popular Posts</h5>
                            <ul class="widget-posts">
                               {% for blog in popular_blog_2 %}
                                    <li class="clearfix">
                                        <div class="widget-posts-image"><a href="#"><img src="
                                        {% if blog.image_popular_blog %}{{ blog.image_popular_blog.url }}{% else %}#{% endif %}"
                                                                                         alt="Post Thumbnail"/></a>
                                        </div>
                                        <div class="widget-posts-body">
                                            <div class="widget-posts-title"><a
                                                    href="{% url 'blog' blog.slug %}">{{ blog.title }}</a></div>
                                            <div class="widget-posts-meta">{{ blog.date_create|date:"D d M Y" }}</div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright font-alt">&copy; 2017&nbsp;<a href="index.html">TitaN</a>, All Rights
                            Reserved</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i
                                class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}