{% extends 'blog/base.html' %}

{% block title %}
    CHECKOUT
{% endblock %}

{% block content %}
    {% include 'blog/nav_bar.html' %}

    <section class="module">
        {% include 'users/messages.html' %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="module-title font-alt">Checkout</h1>
                </div>
            </div>
            <hr class="divider-w pt-20">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-border checkout-table">
                        <tbody>
                        <tr>
                            <th class="hidden-xs">Item</th>
                            <th>Description</th>
                            <th class="hidden-xs">Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                        {% for checkout in checkouts %}
                            {#                            <input type="hidden" name="product_id" value="{{ checkout.product.id }}">#}
                            <tr>
                                <td class="hidden-xs"><a href=""><img
                                        src="{{ checkout.product.images.image_1.url }}"
                                        alt="{{ checkout.product.images.describe_image }}"></a></td>
                                <td>
                                    <h5 class="product-title font-alt">{{ checkout.product.name }}</h5>
                                </td>
                                <td class="hidden-xs">
                                    <h5 class="product-title font-alt">£{{ checkout.product.price }}</h5>
                                </td>
                                <td>
                                    <button class="minus-btn" data-item-id="{{ checkout.id }}">-</button>
                                    <input type="number"
                                           name="quantity"
                                           value="{{ checkout.quantity }}" min="1">
                                    <button class="plus-btn" data-item-id="{{ checkout.id }}">+</button>

                                </td>
                                <td>
                                    <h5 class="product-title font-alt">£{{ checkout.sum }}</h5>
                                </td>
                                <td class="pr-remove"><a href="{% url 'remove_checkout' checkout.id %}"
                                                         title="Remove"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <form method="get">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input class="form-control" type="text" name="code" placeholder="Coupon code">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <button class="btn btn-round btn-g" type="submit">Apply</button>
                        </div>
                    </div>
                </form>

                <div class="col-sm-3 col-sm-offset-3">
                    <div class="form-group">
                        <a class="btn btn-block btn-round btn-d pull-right" href="{% url 'checkout' %}"> Update
                            Cart
                        </a>
                    </div>
                </div>
            </div>
            <hr class="divider-w">
            <div class="row mt-70">
                <div class="col-sm-5 col-sm-offset-7">
                    <div class="shop-Cart-totalbox">
                        <h4 class="font-alt">Cart Totals</h4>
                        <table class="table table-striped table-border checkout-table">
                            <tbody>
                            <tr>
                                <th>Total quantity :</th>
                                <td>{{ checkouts.total_quantity }}</td>
                            </tr>
                            <tr>
                                <th>Cart Subtotal :</th>
                                <td>£{{ checkouts.total_sum }}</td>
                            </tr>
                            {% if sum_with_discount %}
                                <tr>
                                    <th>Cart Subtotal with coupon :</th>
                                    <td>£{{ sum_with_discount }}</td>
                                </tr>
                            {% endif %}
                            {#                            <tr>#}
                            {#                                <th>Shipping Total :</th>#}
                            {#                                <td>£2.00</td>#}
                            {#                            </tr>#}
                            {#                            <tr class="shop-Cart-totalprice">#}
                            {#                                <th>Total :</th>#}
                            {#                                <td>£42.00</td>#}
                            {#                            </tr>#}
                            </tbody>
                        </table>

                        <button class="btn btn-lg btn-block btn-round btn-d" type="submit">Proceed to
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    {% include 'blog/footer.html' %}
{% endblock %}